/* Header
------------------------------------------------------------*/
.c-header{
    &__top{
        color: #fff;
        background-color: $black-color;
        font-size: 1.2rem;
        padding: 1.5rem 0;
        &__list{
            display: flex;
            text-align: right;
            justify-content: flex-end;
            p{
                margin-right: 2rem;
                &:last-child{
                    padding-left: 2rem;
                    border-left: 1px solid #fff;
                }
            }
        }
    }
    /* Main menu
------------------------------------------------------------*/
    &__bottom{
        background-color: $white-bg;
        height: 9.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__menu{
            display: flex;
        }
        &__item{
            font-size: 1.5rem;
            &:not(:first-child){
                margin-left: 5rem;
            }
            &:hover{
                a{
                    padding-bottom: 1.2rem;
                    border-bottom: 2px solid $black-color;
                }
            }
        }
    }
    &__mobile{
        color: $black-color;
        display: none;
    }

    // Responsive
    @media screen and (max-width: 960px) {
        padding: 2rem 2rem;
        &__top{
            display: none;
        }
        &__bottom__menu{
            display: none;
        }
        &__logo{
            img{
                width: 36rem;
                height: 7.4rem;
            }
        }

        &__mobile{
            display: inline-block;
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-transform: uppercase;
            i{
                font-size: 7rem;
            }
            span{
                font-size: 2.4rem;
                font-weight: 600;
            }
        }
    }
    
}
