<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-company">
	<div class="c-banner">
        <div class="c-banner__companyPage">
            <div class="c-banner--content">
                <a href="#" class="c-btn c-btn__taxiBanner">Company</a>
                <p>会社情報</p>
            </div>
        </div>
        <div class="l-container">
            <div class="c-banner__breakcrumb">
                <a href="index.html">home</a>
                <span><i class="fas fa-angle-right"></i></span>
                <a href="#">会社情報</a>
            </div>
        </div>
    </div>
    <div class="p-company__title">
        <div class="p-company__title">
            <h3>昨日よりも今日、今日よりも明日</h3>
        <p class="p-company__title-p">Day by day make it new !</p>
        <div class="p-company__line"></div>
        <p class="p-company__des">
            <span>さくらタクシーグループは創業より、お客様に最高の移動空間をお届けしてまいりました。</span>
            <span>2016年3月、東京の日本交通のグループ企業となりました。</span>
            <span>私たちさくらタクシーグループは、気持ち新たに、日々変化する社会の中で常に最高を追い求め、</span>
            <span>「日々に新たに、日々に新たなり（苟日新、日日新、又日新）」を胸に、</span>
            <span>最高のハードと最高のハートで、お客様へFirstClassのサービスをお届けいたします。</span>
        </p>
        </div>
    </div>
    <div class="l-container">
        <ul class="p-company__list c-grid__grid3">
            <li class="p-company__item">
                <a href="#">
                    <img src="../assets/img/company/img-company1.png" alt="company-img">
                    <p><span>日本交通グループ</span> <span> 代表挨拶・社是・社訓</span></p>
                </a>
            </li>
            <li class="p-company__item">
                <a href="#">
                    <img src="../assets/img/company/img-company2.png" alt="company-img">
                    <p>会社概要・組織図</p>
                </a>
            </li>
            <li class="p-company__item">
                <a href="#">
                    <img src="../assets/img/company/img-company3.png" alt="company-img">
                    <p>沿革</p>
                </a>
            </li>
        </ul>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>