<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-taxi">
  <div class="c-banner">
    <div class="c-banner__contactPage">
      <div class="c-banner--content">
        <a href="#" class="c-btn c-btn__taxiBanner">Contact Us</a>
        <p>お問い合わせ</p>
      </div>
    </div>
    <div class="l-container">
      <div class="c-banner__breakcrumb">
        <a href="index.html">home</a>
        <span><i class="fas fa-angle-right"></i></span>
        <a href="#">お問い合わせ</a>
        <span><i class="fas fa-angle-right"></i></span>
        <a href="#">送信内容確認</a>
      </div>
    </div>
  </div>
  <div class="l-container">
    <section class="p-contact__mainPage">
      <div class="p-verhicle__title mt6">
        <h3>タクシー車両</h3>
        <div class="p-verhicle__line"></div>
      </div>
      <p class="p-confirm__confirm">
        内容にお間違いがなければ送信して下さい。
      </p>
      <!-- Form -->
      <form class="p-contact__form">
        <div class="p-contact__radioGroup">
          <div class="p-confirm__name p-confirm__name--postion">
            <p>お問い合わせの種類</p>
            <p class="c-text">必須</p>
          </div>
          <div class="p-contact__radioList">
          <p>コドライバー派遣について</p>
          </div>
        </div>
        <div class="p-confirm__inputForm">
          <div class="p-confirm__name">
            <p>お名前</p>
            <p class="c-text">必須</p>
          </div>
          <p>Aお名前</p>
        </div>
        <div class="p-confirm__inputForm">
          <div class="p-confirm__name">
            <p>ふりがな</p>
            <p class="c-text">必須</p>
          </div>
          <p>ひらがなひらがな</p>
        </div>
        <div class="p-contact__inputForm1">
          <div class="p-confirm__name">
            <p>郵便番号</p>
          </div>
          <div class="p-contact__textInput1">
            <p>100-0002</p>
          </div>
        </div>
        <div class="p-confirm__inputForm">
          <div class="p-confirm__name">
            <p>ご住所</p>
            <p class="c-text">必須</p>
          </div>
          <p>東京都千代田区皇居外苑</p>
        </div>
        <div class="p-contact__inputForm1">
          <div class="p-confirm__name">
            <p>郵便番号</p>
          </div>
          <div class="p-contact__textInput1">
            <p>00-1234-1234</p>
          </div>
        </div>
        <div class="p-confirm__inputForm">
          <div class="p-confirm__name">
            <p>メールアドレス</p>
            <p class="c-text">必須</p>
          </div>
          <p>example@gmail.com</p>
        </div>
        <div class="p-confirm__inputForm">
          <div class="p-confirm__name">
            <p>メールアドレス</p>
            <p class="c-text">必須</p>
          </div>
          <p>example@gmail.com</p>
        </div>
        <div class="p-confirm__inputForm">
          <div class="p-confirm__name p-confirm__name--textarea p-confirm__name--postion">
            <p class="p-confirm__name--textarea">お問い合わせ内容</p>
          </div>
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="p-confirm__btnGroup">
            <a href="confirm.html" class="c-btn c-btn__confirmForm c-btn__confirmForm--grey"
          >もどる</a>
          <a href="confirm.html" class="c-btn c-btn__confirmForm c-btn__confirmForm--black"
          >送信する</a>
        </div>
      </form>
    </section>
    <section class="p-contact__notifi">
        <p class="p-contact__speech">
            お問い合わせで、数時間たってもメールの返信がない場合、またはお急ぎの場合は、直接お電話下さいますようお願い申し上げます。
        </p>
        <p class="p-contact__infoContact">【お問い合わせの電話連絡先】</p>
        <ul class="p-contact__phoneList">
            <li class="p-contact__phoneItem">
                <div class="p-contact__relate">タクシー関連：本社 無線部</div>
                <a href="#" class="p-contact__phone">06-6452-0055</a>
            </li>
            <li class="p-contact__phoneItem">
                <div class="p-contact__relate">ハイヤー関連：本社 法人営業部</div>
                <a href="#" class="p-contact__phone">06-6458-7088</a>
            </li>
            <li class="p-contact__phoneItem">
                <div class="p-contact__relate">採用関連：本社 人事部</div>
                <a href="#" class="p-contact__phone">06-6458-5314</a>
            </li>
            <li class="p-contact__phoneItem">
                <div class="p-contact__relate">お忘れ物：福島営業所 営業部</div>
                <a href="#" class="p-contact__phone">06-6458-5410</a>
            </li>
            <li class="p-contact__phoneItem">
                <div class="p-contact__relate">上記以外：本社 代表</div>
                <a href="#" class="p-contact__phone">06-6458-5471</a>
            </li>
        </ul>
        <p class="p-contact__policy">
            <span class="c-textSpan">当社はお客さまの個人情報について細心の注意を払って取り扱います。</span>
            <span class="c-textSpan">詳しくは、当社の <span class="p-contact__phone" ><a href="faq.html">プライバシーポリシー</a></span> をご覧ください。</span>
        </p>
    </section>
  </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>
