<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-taxi">
	<div class="c-banner">
        <div class="c-banner__faqPage">
            <div class="c-banner--content">
                <a href="#" class="c-btn c-btn__taxiBanner">FAQ</a>
                <p>よくあるご質問</p>
            </div>
        </div>
        <div class="l-container">
            <div class="c-banner__breakcrumb">
                <a href="index.html">home</a>
                <span><i class="fas fa-angle-right"></i></span>
                <a href="#">よくあるご質問</a>
            </div>
        </div>
    </div>
    <div class="l-container">
        <section class="p-faq__main">
            <ul class="p-faq__groupFaq">
                <li class="p-faq__faqChoose">
                    <a href="#タクシーの利用について"><i class="fas fa-chevron-right"></i> <span>タクシーの利用について</span></a>
                </li>
                <li class="p-faq__faqChoose">
                    <a href="#配車に関すること"><i class="fas fa-chevron-right"></i> <span>配車に関すること</span></a>
                </li>
                <li class="p-faq__faqChoose">
                    <a href="#料金に関すること"><i class="fas fa-chevron-right"></i> <span>料金に関すること</span></a>
                </li>
                <li class="p-faq__faqChoose">
                    <a href="#予約について"><i class="fas fa-chevron-right"></i> <span>予約について</span></a>
                </li>
                <li class="p-faq__faqChoose">
                    <a href="#福祉について"><i class="fas fa-chevron-right"></i> <span>福祉について</span></a>
                </li>
                <li class="p-faq__faqChoose">
                    <a href="#車両に関すること"><i class="fas fa-chevron-right"></i> <span>車両に関すること</span></a>
                </li>
                <li class="p-faq__faqChoose">
                    <a href="#忘れ物について"><i class="fas fa-chevron-right"></i> <span>忘れ物について</span></a>
                </li>
                <li class="p-faq__faqChoose">
                    <a href="#その他"><i class="fas fa-chevron-right"></i> <span>その他</span></a>
                </li>
            </ul>
        </section>
        <section id="タクシーの利用について" class="p-faq__faqList">
            <div class="p-faq__groupTitle">
                <h3 class="p-faq__title">タクシーの利用について</h3>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
        </section>
        <section id="配車に関すること" class="p-faq__faqList">
            <div class="p-faq__groupTitle">
                <h3 class="p-faq__title">配車に関すること</h3>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
        </section>
        <section id="料金に関すること" class="p-faq__faqList">
            <div class="p-faq__groupTitle">
                <h3 class="p-faq__title">料金に関すること</h3>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
        </section>
        <section id="予約について" class="p-faq__faqList">
            <div class="p-faq__groupTitle">
                <h3 class="p-faq__title">予約について</h3>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
        </section>
        <section id="福祉について" class="p-faq__faqList">
            <div class="p-faq__groupTitle">
                <h3 class="p-faq__title">福祉について</h3>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
        </section>
        <section id="車両に関すること" class="p-faq__faqList">
            <div class="p-faq__groupTitle">
                <h3 class="p-faq__title">車両に関すること</h3>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
        </section>
        <section id="忘れ物について" class="p-faq__faqList">
            <div class="p-faq__groupTitle">
                <h3 class="p-faq__title">忘れ物について</h3>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">車いすはお借りできますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
        </section>
        <section id="その他" class="p-faq__faqList">
            <div class="p-faq__groupTitle">
                <h3 class="p-faq__title">その他</h3>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">コールセンターへ電話が繋がらない、すぐ繋がる電話はありますか？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
            <div class="p-faq__faqItem" onclick="accordion();">       
                <div class="p-faq__question">
                    <img class="p-faq__imgQuest" src="../assets/img/quest-faq.png" alt="img-question">
                    <p class="p-faq__textQuest">伝えられた時間に車が来ないですが？</p>
                    <i class="fas fa-chevron-down p-faq__icon"></i>
                </div>
                <div class="p-faq__answer">
                    <img class="p-faq__imgAns" src="../assets/img/ans-faq.png" alt="img-answer">
                    <p class="p-faq__textAns">車いすはご用意しておりません。</p>
                </div>
            </div>
        </section>
        <!--  -->
        </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>