<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-taxi">
	<div class="c-banner">
        <div class="c-banner__faqPage">
            <div class="c-banner--content">
                <a href="#" class="c-btn c-btn__taxiBanner">FAQ</a>
                <p>よくあるご質問</p>
            </div>
        </div>
        <div class="l-container">
            <div class="c-banner__breakcrumb">
                <a href="index.html">home</a>
                <span><i class="fas fa-angle-right"></i></span>
                <a href="#">よくあるご質問</a>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>