<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-realse">
	<div class="c-banner">
        <div class="c-banner__realsePage">
            <div class="c-banner--content">
                <a href="#" class="c-btn c-btn__taxiBanner">News Release</a>
                <p>ニュースリリース</p>
            </div>
        </div>
        <div class="l-container">
            <div class="c-banner__breakcrumb">
                <a href="index.html">home</a>
                <span><i class="fas fa-angle-right"></i></span>
                <a href="#">ニュースリリース</a>
            </div>
        </div>
    </div>
    <div class="l-container mt8">
        <div class="p-verhicle__title">
            <h3>タクシー車両</h3>
            <div class="p-verhicle__line"></div>
        </div>
        <div class="p-realse__main">
            <ul class="p-news__list p-realse__list">
                <li class="p-news__item">
                  <div class="p-news__caption">
                    <div href="#" class="p-news__info">
                      <a href="#" class="p-news__time">2018.08.21</a>
                      <a href="#" class="c-btn c-btn__news">ニュース</a>
                    </div>
                  </div>
                  <a href="realse-post.html" class="p-news__des">
                    ネット決済および時間指定予約受付スタート！
                  </a>
                  <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="p-news__item">
                  <div class="p-news__caption">
                    <div href="#" class="p-news__info">
                      <a href="#" class="p-news__time">2018.08.21</a>
                      <a href="#" class="c-btn c-btn__news">ニュース</a>
                    </div>
                  </div>
                  <p class="p-news__des">ネット決済および時間指定予約受付スタート！！</p>
                  <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="p-news__item">
                  <div class="p-news__caption">
                    <div href="#" class="p-news__info">
                      <a href="#" class="p-news__time">2018.08.21</a>
                      <a href="#" class="c-btn c-btn__news">ニュース</a>
                      <a href="#" class="c-btn c-btn__news">プレス情報</a>
                      <a href="#" class="c-btn c-btn__news">メディア情報</a>
                    </div>
                  </div>
                  <p class="p-news__des">ネット決済および時間指定予約受付スタート！！</p>
                  <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="p-news__item">
                  <div class="p-news__caption">
                    <div href="#" class="p-news__info">
                      <a href="#" class="p-news__time">2018.08.21</a>
                      <a href="#" class="c-btn c-btn__news">ニュース</a>
                    </div>
                  </div>
                  <p class="p-news__des">ネット決済および時間指定予約受付スタート！！</p>
                  <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="p-news__item">
                  <div class="p-news__caption">
                    <div href="#" class="p-news__info">
                      <a href="#" class="p-news__time">2018.08.21</a>
                      <a href="#" class="c-btn c-btn__news">ニュース</a>
                    </div>
                  </div>
                  <p class="p-news__des">ネット決済および時間指定予約受付スタート！！</p>
                  <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="p-news__item">
                    <div class="p-news__caption">
                      <div href="#" class="p-news__info">
                        <a href="#" class="p-news__time">2018.08.21</a>
                        <a href="#" class="c-btn c-btn__news">ニュース</a>
                      </div>
                    </div>
                    <p class="p-news__des">ネット決済および時間指定予約受付スタート！！</p>
                    <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="p-news__item">
                    <div class="p-news__caption">
                      <div href="#" class="p-news__info">
                        <a href="#" class="p-news__time">2018.08.21</a>
                        <a href="#" class="c-btn c-btn__news">ニュース</a>
                      </div>
                    </div>
                    <p class="p-news__des">ネット決済および時間指定予約受付スタート！！</p>
                    <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="p-news__item">
                    <div class="p-news__caption">
                      <div href="#" class="p-news__info">
                        <a href="#" class="p-news__time">2018.08.21</a>
                        <a href="#" class="c-btn c-btn__news">ニュース</a>
                      </div>
                    </div>
                    <p class="p-news__des">ネット決済および時間指定予約受付スタート！！</p>
                    <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="p-news__item">
                    <div class="p-news__caption">
                      <div href="#" class="p-news__info">
                        <a href="#" class="p-news__time">2018.08.21</a>
                        <a href="#" class="c-btn c-btn__news">ニュース</a>
                      </div>
                    </div>
                    <p class="p-news__des">ネット決済および時間指定予約受付スタート！！</p>
                    <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="p-news__item">
                    <div class="p-news__caption">
                      <div href="#" class="p-news__info">
                        <a href="#" class="p-news__time">2018.08.21</a>
                        <a href="#" class="c-btn c-btn__news">ニュース</a>
                        <a href="#" class="c-btn c-btn__news">ニュース</a>
                      </div>
                    </div>
                    <p class="p-news__des">ネット決済および時間指定予約受付スタート！！</p>
                    <a href="#" class="p-news__icon"><i class="fas fa-angle-double-right"></i></a>
                </li>

                <div class="p-realse__pagination">
                    <a href="#" class="c-page"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" class="c-page">1</a>
                    <a href="#" class="c-page">2</a>
                    <a href="#" class="c-page">3</a>
                    <a href="#" class="c-page">4</a>
                    <a href="#" class="c-page">5</a>
                    <a href="#" class="c-page"><i class="fas fa-chevron-right"></i></a>
                </div>
            </ul>
            <ul class="p-realse__sidebar">
                 <li class="p-realse__itembar">
                    <a href="#">カテゴリー</a>
                </li>
                <li class="p-realse__itembar">
                    <a href="#">ニュース</a>
                </li>
                <li class="p-realse__itembar">
                    <a href="#">プレス情報</a>
                </li>
                <li class="p-realse__itembar">
                    <a href="#">プレス情報</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>