<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-realse">
	<div class="c-banner">
        <div class="c-banner__realsePost">
            <div class="c-banner--content">
                <a href="#" class="c-btn c-btn__taxiBanner">News Release</a>
                <p>ニュースリリース</p>
            </div>
        </div>
        <div class="l-container">
            <div class="c-banner__breakcrumb">
                <a href="index.html">home</a>
                <span><i class="fas fa-angle-right"></i></span>
                <a href="#">ニュースリリース</a>
                <span><i class="fas fa-angle-right"></i></span>
                <a href="#">ネット決済および時間指定予約受付スタート！！</a>
            </div>
        </div>
    </div>
    <div class="l-container mt8">
        <div class="p-realse__main">
            <div class="p-realsePost__contentPost">
                <h3 class="p-realsePost__title">ネット決済および時間指定予約受付スタート！！</h3>
                <p class="p-realsePost__date">2017.10.03</p>
                <h3 class="p-realsePost__caption">大阪初！OTECが“ユニバーサルドライバー研修実施機関”に認定されました</h3>
                <p class="p-realsePost__contentPost">
                    <span>
                        平成29年9月、日本交通グループ・関西最大級の研修施設OTEC（Osaka Training & Education Center／通称：オーテック）がユニバーサルドライバー研修実施機関の認定を受けました。
                    </span>
                    <span>ユニバーサルドライバー研修（以下UD研修）とは、タクシー乗務員の「接客向上」を目的とした研修であり、お客様との円滑なコミュニケーションスキル、ご高齢の方や障がいをお持ちの方への介助（車椅子の取り扱い、乗降時の介助）方法などについて学ぶための研修です。</span>
                    <span>大阪の「タクシー事業者」で認定を受けたのは当社が初めてとなり、自社内で研修を行うのも大阪で初めての試みとなります。</span>
                    <span>“OTEC”では、以前より実施している「普通救命講習」「認知症サポーター講座」と合わせて、平成29年10月より「UD研修」全乗務員受講に向けて取り組んで参ります。</span>
                    <span>また、車いすのまま乗降できる「ユニバーサルデザイン最新型車両」は11月より導入することが確定しており、障がいの有無、年齢、性別、人種等にかかわらず、すべての人々に利用しやすいサービスを推進して参ります</span>
                    <div class="p-realsePost__contentFlex">
                        <div class="p-realsePost__textGroup">
                            <p>“OTEC”では、以前より実施している「普通救命講習」「認知症サポーター講座」と合わせて、平成29年10月より「UD研修」全乗務員受講に向けて取り組んで参ります。</p>
                            <p>また、車いすのまま乗降できる「ユニバーサルデザイン最新型車両」は11月より導入することが確定しており、障がいの有無、年齢、性別、人種等にかかわらず、すべての人々に利用しやすいサービスを推進して参ります。</p>
                        </div>
                        <img src="../assets/img/content-imgRP.png" alt="">
                    </div>
                </p>
                <!-- icon -->
                <ul class="c-iconList">
                    <li class="c-iconList__item">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="c-iconList__item">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="c-iconList__item">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="c-iconList__item">
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </li>
                </ul>
                <!-- icon -->
                <!-- Next Prev -->
                <div class="p-realsePost__pNav">
                    <div class="p-realsePost__next">
                        <a href="#"><i class="fas fa-angle-double-left p-realsePost__iconLeft"></i></a>
                        <a href="#">第２２回　タクシー優良運転者協会長表彰</a>
                    </div>
                    <div class="p-realsePost__prev">
                        <a href="#" class="p-realsePost__link">【ラッピングタクシー】“クナイプさくらタクシー”大好評運行中</a>
                        <a href="#"><i class="fas fa-angle-double-right p-realsePost__iconRight"></i></a>
                    </div>
                </div>
                <!-- Next Prev -->
            </div>
            <ul class="p-realse__sidebar">
                 <li class="p-realse__itembar">
                    <a href="#">カテゴリー</a>
                </li>
                <li class="p-realse__itembar">
                    <a href="#">ニュース</a>
                </li>
                <li class="p-realse__itembar">
                    <a href="#">プレス情報</a>
                </li>
                <li class="p-realse__itembar">
                    <a href="#">プレス情報</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>