<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-verhicle">
	<div class="c-banner">
        <div class="c-banner__verhiclePage">
            <div class="c-banner--content">
                <a href="#" class="c-btn c-btn__taxiBanner">Vehicle Information</a>
                <p>車両情報</p>
            </div>
        </div>
        <div class="l-container">
            <div class="c-banner__breakcrumb">
                <a href="index.html">home</a>
                <span><i class="fas fa-angle-right"></i></span>
                <a href="#">車両情報</a>
            </div>
        </div>
  </div>
    <div class="l-container mt8">
        <div class="p-verhicle__groupCar">
          <div class="p-verhicle__title">
            <h3>タクシー車両</h3>
            <div class="p-verhicle__line"></div>
        </div>
        <ul class="p-verhicle__listCar mt5">
            <li class="p-verhicle__itemCar">
                <div class="p-verhicle__slide">
                    <div class="container">
                        <div class="mySlides__gallery ">
                          <img src="../assets/img/verhicle/car-verhicle.png">
                        </div>
                      
                        <div class="mySlides__gallery">
                          <img src="../assets/img/verhicle/more2.png">
                        </div>
                      
                        <div class="mySlides__gallery">
                          <img src="../assets/img/verhicle/more3.png">
                        </div>
                          
                        <div class="mySlides__gallery">
                          <img src="../assets/img/verhicle/more4.png">
                        </div>
                      
                        <div class="mySlides__gallery">
                          <img src="../assets/img/verhicle/more5.png">
                        </div>
                          
                        <a class="prev__gallery c-btn c-btn__sliderVerhicle c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(-1)">&#8636;</a>
                        <a class="next__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(1)">&#8640;	</a>

                      
                        <div class="row">
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/car-verhicle.png" style="width:100%" onclick="currentSlide__gallery(1)">
                          </div>
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/more2.png" style="width:100%" onclick="currentSlide__gallery(2)">
                          </div>
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/more3.png" style="width:100%" onclick="currentSlide__gallery(3)">
                          </div>
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/more4.png" style="width:100%" onclick="currentSlide__gallery(4)">
                          </div>
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/more5.png" style="width:100%" onclick="currentSlide__gallery(5)">
                          </div>    
                        </div>
                      </div>
                </div>
                <div class="p-verhicle__des">
                    <h3>クラウン　スーパーサルーン</h3>
                    <p class="mt4">
                        <span>クラス最高のグレードで、さくらが保有する車両の全て、黒塗りの３ナンバーです。</span>
                        <span>シートは乗る方をふわっと優しく包み込みます。そして広い空間をゆったりと贅沢にお使いいただけます。</span>
                    </p>
                    <div class="p-verhicle__technique">
                      <table style="width:100%">
                        <tr>
                          <th class="c-table1__bg--black">最大ご乗車人数</th>
                          <th class="c-table1__textRight">4名</th> 
                        </tr>
                        <tr>
                          <td class="c-table1__bg--black">推奨人数</td>
                          <td class="c-table1__textRight">1〜2名</td>
                        </tr>
                        <tr>
                          <td class="c-table1__bg--black">トランク積載目安</td>
                          <td class="c-table1__textRight">
                            <p>ゴルフバッグ3個</p>
                            <p>スーツケース（中）2個</p>
                          </td>
                        </tr>
                      </table>
                      
                    </div>
                </div>
            </li>
            <li class="p-verhicle__itemCar">
              <div class="p-verhicle__slide">
                  <div class="container">
                      <div class="mySlides__gallery ">
                        <img src="../assets/img/verhicle/car-verhicle.png">
                      </div>
                    
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more2.png">
                      </div>
                    
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more3.png">
                      </div>
                        
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more4.png">
                      </div>
                    
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more5.png">
                      </div>
                        
                      <a class="prev__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(-1)">&#8636;</a>
                      <a class="next__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(1)">&#8640;	</a>

                    
                      <div class="row">
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/car-verhicle.png" style="width:100%" onclick="currentSlide__gallery(1)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more2.png" style="width:100%" onclick="currentSlide__gallery(2)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more3.png" style="width:100%" onclick="currentSlide__gallery(3)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more4.png" style="width:100%" onclick="currentSlide__gallery(4)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more5.png" style="width:100%" onclick="currentSlide__gallery(5)">
                        </div>    
                      </div>
                    </div>
              </div>
              <div class="p-verhicle__des">
                  <h3>クラウン　スーパーサルーン</h3>
                  <p class="mt4">
                      <span>クラス最高のグレードで、さくらが保有する車両の全て、黒塗りの３ナンバーです。</span>
                      <span>シートは乗る方をふわっと優しく包み込みます。そして広い空間をゆったりと贅沢にお使いいただけます。</span>
                  </p>
                  <div class="p-verhicle__technique">
                    <table style="width:100%">
                      <tr>
                        <th class="c-table1__bg--black">最大ご乗車人数</th>
                        <th class="c-table1__textRight">4名</th> 
                      </tr>
                      <tr>
                        <td class="c-table1__bg--black">推奨人数</td>
                        <td class="c-table1__textRight">1〜2名</td>
                      </tr>
                      <tr>
                        <td class="c-table1__bg--black">トランク積載目安</td>
                        <td class="c-table1__textRight">
                          <p>ゴルフバッグ3個</p>
                          <p>スーツケース（中）2個</p>
                        </td>
                      </tr>
                    </table>
                    
                  </div>
              </div>
          </li>
          <li class="p-verhicle__itemCar">
            <div class="p-verhicle__slide">
                <div class="container">
                    <div class="mySlides__gallery ">
                      <img src="../assets/img/verhicle/car-verhicle.png">
                    </div>
                  
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more2.png">
                    </div>
                  
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more3.png">
                    </div>
                      
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more4.png">
                    </div>
                  
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more5.png">
                    </div>
                      
                    <a class="prev__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(-1)">&#8636;</a>
                    <a class="next__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(1)">&#8640;	</a>

                  
                    <div class="row">
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/car-verhicle.png" style="width:100%" onclick="currentSlide__gallery(1)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more2.png" style="width:100%" onclick="currentSlide__gallery(2)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more3.png" style="width:100%" onclick="currentSlide__gallery(3)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more4.png" style="width:100%" onclick="currentSlide__gallery(4)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more5.png" style="width:100%" onclick="currentSlide__gallery(5)">
                      </div>    
                    </div>
                  </div>
            </div>
            <div class="p-verhicle__des">
                <h3>クラウン　スーパーサルーン</h3>
                <p class="mt4">
                    <span>クラス最高のグレードで、さくらが保有する車両の全て、黒塗りの３ナンバーです。</span>
                    <span>シートは乗る方をふわっと優しく包み込みます。そして広い空間をゆったりと贅沢にお使いいただけます。</span>
                </p>
                <div class="p-verhicle__technique">
                  <table style="width:100%">
                    <tr>
                      <th class="c-table1__bg--black">最大ご乗車人数</th>
                      <th class="c-table1__textRight">4名</th> 
                    </tr>
                    <tr>
                      <td class="c-table1__bg--black">推奨人数</td>
                      <td class="c-table1__textRight">1〜2名</td>
                    </tr>
                    <tr>
                      <td class="c-table1__bg--black">トランク積載目安</td>
                      <td class="c-table1__textRight">
                        <p>ゴルフバッグ3個</p>
                        <p>スーツケース（中）2個</p>
                      </td>
                    </tr>
                  </table>
                  
                </div>
            </div>
        </li>
        </ul>
        </div>
        <div class="p-verhicle__groupCar mt100">
          <div class="p-verhicle__title">
            <h3>ハイヤー車両</h3>
            <div class="p-verhicle__line"></div>
        </div>
        <ul class="p-verhicle__listCar mt5">
            <li class="p-verhicle__itemCar">
                <div class="p-verhicle__slide">
                    <div class="container">
                        <div class="mySlides__gallery ">
                          <img src="../assets/img/verhicle/car-verhicle.png">
                        </div>
                      
                        <div class="mySlides__gallery">
                          <img src="../assets/img/verhicle/more2.png">
                        </div>
                      
                        <div class="mySlides__gallery">
                          <img src="../assets/img/verhicle/more3.png">
                        </div>
                          
                        <div class="mySlides__gallery">
                          <img src="../assets/img/verhicle/more4.png">
                        </div>
                      
                        <div class="mySlides__gallery">
                          <img src="../assets/img/verhicle/more5.png">
                        </div>
                          
                        <a class="prev__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(-1)">&#8636;</a>
                        <a class="next__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(1)">&#8640;	</a>

                      
                        <div class="row">
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/car-verhicle.png" style="width:100%" onclick="currentSlide__gallery(1)">
                          </div>
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/more2.png" style="width:100%" onclick="currentSlide__gallery(2)">
                          </div>
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/more3.png" style="width:100%" onclick="currentSlide__gallery(3)">
                          </div>
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/more4.png" style="width:100%" onclick="currentSlide__gallery(4)">
                          </div>
                          <div class="column">
                            <img class="demo cursor" src="../assets/img/verhicle/more5.png" style="width:100%" onclick="currentSlide__gallery(5)">
                          </div>    
                        </div>
                      </div>
                </div>
                <div class="p-verhicle__des">
                    <h3>クラウン　スーパーサルーン</h3>
                    <p class="mt4">
                        <span>クラス最高のグレードで、さくらが保有する車両の全て、黒塗りの３ナンバーです。</span>
                        <span>シートは乗る方をふわっと優しく包み込みます。そして広い空間をゆったりと贅沢にお使いいただけます。</span>
                    </p>
                    <div class="p-verhicle__technique">
                      <table style="width:100%">
                        <tr>
                          <th class="c-table1__bg--black">最大ご乗車人数</th>
                          <th class="c-table1__textRight">4名</th> 
                        </tr>
                        <tr>
                          <td class="c-table1__bg--black">推奨人数</td>
                          <td class="c-table1__textRight">1〜2名</td>
                        </tr>
                        <tr>
                          <td class="c-table1__bg--black">トランク積載目安</td>
                          <td class="c-table1__textRight">
                            <p>ゴルフバッグ3個</p>
                            <p>スーツケース（中）2個</p>
                          </td>
                        </tr>
                      </table>
                      
                    </div>
                </div>
            </li>
            <li class="p-verhicle__itemCar">
              <div class="p-verhicle__slide">
                  <div class="container">
                      <div class="mySlides__gallery ">
                        <img src="../assets/img/verhicle/car-verhicle.png">
                      </div>
                    
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more2.png">
                      </div>
                    
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more3.png">
                      </div>
                        
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more4.png">
                      </div>
                    
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more5.png">
                      </div>
                        
                      <a class="prev__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(-1)">&#8636;</a>
                      <a class="next__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(1)">&#8640;	</a>

                    
                      <div class="row">
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/car-verhicle.png" style="width:100%" onclick="currentSlide__gallery(1)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more2.png" style="width:100%" onclick="currentSlide__gallery(2)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more3.png" style="width:100%" onclick="currentSlide__gallery(3)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more4.png" style="width:100%" onclick="currentSlide__gallery(4)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more5.png" style="width:100%" onclick="currentSlide__gallery(5)">
                        </div>    
                      </div>
                    </div>
              </div>
              <div class="p-verhicle__des">
                  <h3>クラウン　スーパーサルーン</h3>
                  <p class="mt4">
                      <span>クラス最高のグレードで、さくらが保有する車両の全て、黒塗りの３ナンバーです。</span>
                      <span>シートは乗る方をふわっと優しく包み込みます。そして広い空間をゆったりと贅沢にお使いいただけます。</span>
                  </p>
                  <div class="p-verhicle__technique">
                    <table style="width:100%">
                      <tr>
                        <th class="c-table1__bg--black">最大ご乗車人数</th>
                        <th class="c-table1__textRight">4名</th> 
                      </tr>
                      <tr>
                        <td class="c-table1__bg--black">推奨人数</td>
                        <td class="c-table1__textRight">1〜2名</td>
                      </tr>
                      <tr>
                        <td class="c-table1__bg--black">トランク積載目安</td>
                        <td class="c-table1__textRight">
                          <p>ゴルフバッグ3個</p>
                          <p>スーツケース（中）2個</p>
                        </td>
                      </tr>
                    </table>
                    
                  </div>
              </div>
            </li>
            <li class="p-verhicle__itemCar">
            <div class="p-verhicle__slide">
                <div class="container">
                    <div class="mySlides__gallery ">
                      <img src="../assets/img/verhicle/car-verhicle.png">
                    </div>
                  
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more2.png">
                    </div>
                  
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more3.png">
                    </div>
                      
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more4.png">
                    </div>
                  
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more5.png">
                    </div>
                      
                    <a class="prev__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(-1)">&#8636;</a>
                    <a class="next__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(1)">&#8640;	</a>

                  
                    <div class="row">
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/car-verhicle.png" style="width:100%" onclick="currentSlide__gallery(1)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more2.png" style="width:100%" onclick="currentSlide__gallery(2)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more3.png" style="width:100%" onclick="currentSlide__gallery(3)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more4.png" style="width:100%" onclick="currentSlide__gallery(4)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more5.png" style="width:100%" onclick="currentSlide__gallery(5)">
                      </div>    
                    </div>
                  </div>
            </div>
            <div class="p-verhicle__des">
                <h3>クラウン　スーパーサルーン</h3>
                <p class="mt4">
                    <span>クラス最高のグレードで、さくらが保有する車両の全て、黒塗りの３ナンバーです。</span>
                    <span>シートは乗る方をふわっと優しく包み込みます。そして広い空間をゆったりと贅沢にお使いいただけます。</span>
                </p>
                <div class="p-verhicle__technique">
                  <table style="width:100%">
                    <tr>
                      <th class="c-table1__bg--black">最大ご乗車人数</th>
                      <th class="c-table1__textRight">4名</th> 
                    </tr>
                    <tr>
                      <td class="c-table1__bg--black">推奨人数</td>
                      <td class="c-table1__textRight">1〜2名</td>
                    </tr>
                    <tr>
                      <td class="c-table1__bg--black">トランク積載目安</td>
                      <td class="c-table1__textRight">
                        <p>ゴルフバッグ3個</p>
                        <p>スーツケース（中）2個</p>
                      </td>
                    </tr>
                  </table>
                  
                </div>
            </div>
            </li>
            <li class="p-verhicle__itemCar">
              <div class="p-verhicle__slide">
                  <div class="container">
                      <div class="mySlides__gallery ">
                        <img src="../assets/img/verhicle/car-verhicle.png">
                      </div>
                    
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more2.png">
                      </div>
                    
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more3.png">
                      </div>
                        
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more4.png">
                      </div>
                    
                      <div class="mySlides__gallery">
                        <img src="../assets/img/verhicle/more5.png">
                      </div>
                        
                      <a class="prev__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(-1)">&#8636;</a>
                      <a class="next__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(1)">&#8640;	</a>

                    
                      <div class="row">
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/car-verhicle.png" style="width:100%" onclick="currentSlide__gallery(1)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more2.png" style="width:100%" onclick="currentSlide__gallery(2)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more3.png" style="width:100%" onclick="currentSlide__gallery(3)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more4.png" style="width:100%" onclick="currentSlide__gallery(4)">
                        </div>
                        <div class="column">
                          <img class="demo cursor" src="../assets/img/verhicle/more5.png" style="width:100%" onclick="currentSlide__gallery(5)">
                        </div>    
                      </div>
                    </div>
              </div>
              <div class="p-verhicle__des">
                  <h3>クラウン　スーパーサルーン</h3>
                  <p class="mt4">
                      <span>クラス最高のグレードで、さくらが保有する車両の全て、黒塗りの３ナンバーです。</span>
                      <span>シートは乗る方をふわっと優しく包み込みます。そして広い空間をゆったりと贅沢にお使いいただけます。</span>
                  </p>
                  <div class="p-verhicle__technique">
                    <table style="width:100%">
                      <tr>
                        <th class="c-table1__bg--black">最大ご乗車人数</th>
                        <th class="c-table1__textRight">4名</th> 
                      </tr>
                      <tr>
                        <td class="c-table1__bg--black">推奨人数</td>
                        <td class="c-table1__textRight">1〜2名</td>
                      </tr>
                      <tr>
                        <td class="c-table1__bg--black">トランク積載目安</td>
                        <td class="c-table1__textRight">
                          <p>ゴルフバッグ3個</p>
                          <p>スーツケース（中）2個</p>
                        </td>
                      </tr>
                    </table>
                    
                  </div>
              </div>
            </li>
            <li class="p-verhicle__itemCar">
            <div class="p-verhicle__slide">
                <div class="container">
                    <div class="mySlides__gallery ">
                      <img src="../assets/img/verhicle/car-verhicle.png">
                    </div>
                  
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more2.png">
                    </div>
                  
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more3.png">
                    </div>
                      
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more4.png">
                    </div>
                  
                    <div class="mySlides__gallery">
                      <img src="../assets/img/verhicle/more5.png">
                    </div>
                      
                    <a class="prev__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(-1)">&#8636;</a>
                    <a class="next__gallery c-btn c-btn__sliderVerhicle" onclick="plusSlides__gallery(1)">&#8640;	</a>

                  
                    <div class="row">
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/car-verhicle.png" style="width:100%" onclick="currentSlide__gallery(1)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more2.png" style="width:100%" onclick="currentSlide__gallery(2)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more3.png" style="width:100%" onclick="currentSlide__gallery(3)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more4.png" style="width:100%" onclick="currentSlide__gallery(4)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="../assets/img/verhicle/more5.png" style="width:100%" onclick="currentSlide__gallery(5)">
                      </div>    
                    </div>
                  </div>
            </div>
            <div class="p-verhicle__des">
                <h3>クラウン　スーパーサルーン</h3>
                <p class="mt4">
                    <span>クラス最高のグレードで、さくらが保有する車両の全て、黒塗りの３ナンバーです。</span>
                    <span>シートは乗る方をふわっと優しく包み込みます。そして広い空間をゆったりと贅沢にお使いいただけます。</span>
                </p>
                <div class="p-verhicle__technique">
                  <table style="width:100%">
                    <tr>
                      <th class="c-table1__bg--black">最大ご乗車人数</th>
                      <th class="c-table1__textRight">4名</th> 
                    </tr>
                    <tr>
                      <td class="c-table1__bg--black">推奨人数</td>
                      <td class="c-table1__textRight">1〜2名</td>
                    </tr>
                    <tr>
                      <td class="c-table1__bg--black">トランク積載目安</td>
                      <td class="c-table1__textRight">
                        <p>ゴルフバッグ3個</p>
                        <p>スーツケース（中）2個</p>
                      </td>
                    </tr>
                  </table>
                  
                </div>
            </div>
            </li>
        </ul>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>