/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-grid{
    &__grid4{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:3rem;
    }
    &__grid3{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:3rem;
    }
}