/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 51.6rem;
    max-width: 100%;
}
.c-table1{
    &__bg--black{
        background-color: $black-color;
        color: $white-bg;
        border: 1px solid $grey-bg;
        padding: 2rem 0 2rem 1.8rem;
    }
    &__textRight{
        text-align: right;
        padding-right: 1.8rem;
    }
}