
// Slider galerry
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides__gallery {
  display: none;
  img{
      height: 36rem;
  }
  &:first-child{
      display: block;
  }
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev__gallery,
.next__gallery {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next__gallery {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev__gallery:hover,
.next__gallery:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row{
    margin-top: 1.5rem;
    &::after{
      content: "";
      display: table;
      clear: both;
    }
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
  &:first-child{
      display: block;
  }
}

/* Add a transparency effect for thumnbail images */

.active,
.demo:hover {
  opacity: 1;
}



.p-verhicle{
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            font-size: 2.4rem;
            border-left: .3rem solid $yellow-color;
            padding-left: 2.4rem;
        }
    }
    &__line{
        width: 78.4rem;
        background-color: black;
        height: 1px;
        max-width: 100%;
    }
    // &__listCar{

    // }
    &__itemCar{
        display: flex;
        column-gap: 5rem;
        &:not(:first-child){
          margin-top: 7rem;
        }
    }
    &__slide{
        width: 50%;
    }
    &__des{
        line-height: 1;
        width: 50%;
        h3{
          font-size: 2.4rem;
        }
        p{
          line-height: 2.6rem;
          font-size: 1.5rem;
          font-weight: 500;
          span{
            display: block;
          }
        }
    }
    &__technique{
      margin-top: 4rem;
    }
}