//baseWidth
$baseWidth:1900px;

$mainFonts : "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$black-color: #000000;
$black-color2: #222222;
$white-color: #e3e3e3;
$white-bg: #ffffff;
$grey-bg: #eeeeee;
$grey-border: #cccccc;
$grey-border3: #dddddd;
$yellow-color: #fcd000;
$red-color: #82141a;
$blue-color: #cce7ff;
$blue-color2: #668ad8;
$blue-color3: #1069aa;