<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
			<div class="c-header__top">
				<div class="l-container">
				<div class="c-header__top__list">
					<p>ニュースリリース</p>
					<p>よくあるご質問</p>
				</div>
			</div>
			</div>
			<div class="l-container">
				<div class="c-header__bottom">
					<a href="index.html" class="c-header__logo">
						<img src="./assets/img/logo.png" alt="logo">
					</a>
					<ul class="c-header__bottom__menu">
						<li class="c-header__bottom__item">
							<a href="taxi.html">タクシー</a>
						</li>
						<li class="c-header__bottom__item">
							<a href="hire.html">ハイヤー</a>
						</li>
						<li class="c-header__bottom__item">
							<a href="company.html">会社情報</a>
						</li>
						<li class="c-header__bottom__item">
							<a href="verhicle.html">車両情報</a>
						</li>
						<li class="c-header__bottom__item">
							<a href="#">新卒採用</a>
						</li>
						<li class="c-header__bottom__item">
							<a href="#">中途採用</a>
						</li>
						<li class="c-header__bottom__item">
							<a href="contact.html">お問い合わせ</a>
						</li>
					</ul>
				</div>
			</div>
	</header>
	<!--▲ Header ▲-->